/* Modo claro (por defecto) */
body {
    background-image: url('../images/fondo_light.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Para que el fondo se quede fijo al hacer scroll */
    min-height: 100vh; /* Asegura que el fondo cubra al menos la altura total de la ventana */
    margin: 0;
    padding: 0;
    color: black;
}

/* Modo oscuro */
body.dark-mode {
    background-color: black; /* Fondo completamente negro en modo oscuro */
    background-image: url('../images/fondo_dark.jpg');  /* Elimina la imagen de fondo en modo oscuro */
    color: white;
}

/* Tarjeta del formulario en modo claro */
.form-container {
    background-color: #f0f0f0; /* bg-gray-100 */
    padding: 20px;
    border-radius: 8px;
}

/* Tarjeta del formulario en modo oscuro */
body.dark-mode .form-container {
    background-color: #333; /* Fondo oscuro para la tarjeta */
    border: 2px solid white;
    padding: 20px;
    border-radius: 8px;
}

/* Estilos para los inputs y botones */
input, button {
    background-color: #e5e5e5; /* bg-gray-200 */
    color: black;
}

body.dark-mode input, 
body.dark-mode button {
    background-color: #555; /* Fondo oscuro para inputs y botones en modo oscuro */
    color: white;
}

/* Estilos del header y footer */
header, footer {
    background-color: transparent;
}

body.dark-mode header, 
body.dark-mode footer {
    background-color: transparent;
}

nav a {
    color: black;
}

body.dark-mode nav a {
    color: lightgray;
}

/* Modo claro (por defecto) */
footer {
    color: black;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Modo oscuro para el footer */
body.dark-mode footer {
    color: white;
}

/* Ajustar los iconos */
footer a i {
    color: black; /* Color de iconos en modo claro */
}

/* Iconos en modo oscuro */
body.dark-mode footer a i {
    color: white;
}

/* Otros ajustes para texto y enlaces en modo oscuro */
body.dark-mode h3, 
body.dark-mode p {
    color: white;
}

.h-12 w-auto{
    filter: invert(100%);
}