/* Modo claro (por defecto) */
body {
    background-image: url('../images/fondo_light.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Modo oscuro */
body.dark-mode {
    background-image: url('../images/fondo_dark.jpg');
    background-color: black;
    color: white;
}


/* Estilos del header y footer */
header, footer {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

body.dark-mode header, 
body.dark-mode footer {
    background-color: transparent;
}

/* Navegación */
nav a:hover {
    color: black;
    transform: scale(1.05);
    transition: color 0.3s ease;
}

body.dark-mode nav a {
    color: lightgray;
}

/* Footer */
footer {
    color: black;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

body.dark-mode footer {
    color: white;
}

/* Iconos del footer */
footer a i {
    color: black;
    transition: color 0.3s ease;
}

body.dark-mode footer a i {
    color: white;
}

/* Efecto invertido en el logo */
.h-12.w-auto {
    filter: invert(100%);
}

/* Botones del header */
.header-button {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    color: black;
    padding: 0.5rem 1.5rem;
    border-bottom-width: 1px;
    border-color: #34d399; /* emerald-400 */
}

.header-button:hover {
    filter: brightness(1.1);
    transform: translateY(-1px);
    border-bottom-width: 6px;
    box-shadow: 0px 10px 15px rgba(52, 211, 153, 0.4);
}

.header-button:active {
    filter: brightness(0.9);
    transform: translateY(2px);
    border-bottom-width: 2px;
    box-shadow: none;
}
