# Eliminar index.php de las URLs en CodeIgniter 4

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si el archivo o directorio existe, usa directamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirecciona todas las demás solicitudes al index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule authz_core_module>
    Require all denied
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>
